<div id="backdrop-login" style="display:none" >
  <div class="loginform col-md-4 col-md-offset-4 well">
  <button type="button" class="close" id="loginclose" aria-label="Close" onclick="onClose()"><span aria-hidden="true">&times;</span></button>

  <form id="loginform">
    
     <label for="emailfield">Email:</label>
     <input type="input" class="form-control" id="emailfield" name="email"></input>

     <label for="passwordfield">Password:</label>
     <input type="input" class="form-control" id="passwordfield" name="password"></input>
     <br><br>
     <button type="submit" class="btn btn-primary loginbtn">LogIn</button>
     <p>If not registered click <a id="signup">Register</a></p>
  </form>
</div>
</div>

