<div id="backdrop-signup" style="display:none">
 <div class="signupform col-md-4 col-md-offset-4 well">
 <button type="button" id="signupclose" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 
  <form method="post">
     <label for="namefield">Name:</label>
     <input type="input" class="form-control" id="namefield" name="username" placeholder="first name" value=''></input>

     <label for="surnamefield">SurName:</label>
     <input type="input" class="form-control" id="surnamefield" name="surname" placeholder="last name" value=''></input>

     <label for="emailfield">Email:</label>
     <input type="input" class="form-control" id="signupemailfield" name="email" placeholder="eg.xyz@abc.com" value=''></input>

     <label for="passwordfield">Password:</label>
     <input type="input" class="form-control" id="signuppasswordfield" name="password" value=''></input>
     <br><br>
     <button type="submit" class="btn btn-primary signupbtn">Signup</button>
 </form>
</div>
</div>

