

	<footer id="footer" class="top-space">

		<div class="footer1 cp-footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 col-sm-12 text-left">
						<div style="width:140px">
							<a href="home"><span class="comming-soon">Comming Soon...</span><i class="fa fa-cog fa-spin fa-5x fa-fw"></i></a>
						</div>
                   </div>
					<div class="col-md-9  col-sm-12 text-center">
					    <div class="row">
						     
						    <div  style="padding-top:30px">
							   	<h5 style="display:inline"><a href="home">Home</a> | </h5>
							   	<h5 style="display:inline"><a href="about">About</a> | </h5>
							   	<h5 style="display:inline"><a href="about">Contact</a>  | </h5>
				                <h5 style="display:inline"><a href="" target="_blank">| Open Source |</a>
							   	</h5>
							</div>
						</div>
					</div>
				</div>
							
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<h3><a href="" target="_blank"><i class="fa fa-header fa-lg"></i></a></h3>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<h3><a href="" target="_blank"><i class="fa fa-github fa-lg"></i></a></h3>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<h3><a href="" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></h3>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<h3><a href="" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></h3>
				</div>
            </div>
        </div>    

						
				

	</div> <!-- /row of widgets 
			</div>
		</div> -->

		<div class="footer2">
			<div class="container">
					<div class="widget-body">
						<h5><p class="text-center">
							Copyright &copy; 2016.
						</p> </h5>
					</div>
					

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	