<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
		<!--Nav bar menu-button when screen becomes small-->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				   <span class="icon-bar"></span> 
				   <span class="icon-bar"></span> 
				   <span class="icon-bar"></span>
			    </button>
				<a class="navbar-brand" href="home"></a>
		   </div> 
           <div style="width:140px">
				<a href="home"><p class="comming-soon">Comming Soon...</p><i class="fa fa-cog fa-spin fa-5x fa-fw"></i></a>
			</div>

			<div class="navbar-collapse collapse" style="margin-top:-90px">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="home">Home</a></li>
					<!--<li><a href="#">Search TV</a></li>
					<li><a href="#">Get Episodes</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Television <b class="caret"></b></a>
						<ul class="dropdown-menu">
						    
						    <li><a href="" id="newreleases">Promising New Releases</a></li>
							<li><a href="" id="tvserieslist">Search Tv-Series</a></li>
							<li><a href="" id="episodelist">Get Episodes List</a></li>
						</ul>
					</li>
                   <li class="dropdown">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movies <b class="caret"></b></a>
					 <ul class="dropdown-menu">
					 	<li><a href="upcoming">Upcoming Releases</a></li>
					 	<li class="current"><a href="current">Current Releases</a></li>
					 </ul>
				   </li>
					<li><a href="about">About</a></li>
					<li><a class="btn" id="loginsignupbtn">SIGN IN / SIGN UP</a></li>
					<li class="loggedin_userdropdown">
					    <a class="loggedin_username" href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
					</li>
                </ul><!--/.nav-menues -->
		   </div><!--/.nav-collapse -->
		</div>
	</div>